semanas/
.DS_Store
.vscode/
semana-01/readme.md
semana-01/solucion-formativa-01.md
semana-01/material-semana/
semana-02/material-semana/
**/material-semana/
anuncios.md
semana-02/solucion-sumativa-01.md
semana-03/formativa-02
semana-06/demo/
semana-07/super-heroe/
EVALUACIONES/
foros.mdCLAUDE.md
ejercicio-resumen-clase.md
foros.md
anuncios.md
semana-03/assets/
semana-03/index.html
EVALUACIONES-RV1/
