/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* color de fondo */
    color: #343a40; /* color de texto */
}

.navbar-brand{
    width: 60px;
    height: auto;
}

/* Estilos para los encabezados */
.header {
    margin-bottom: 15px;
}

.h1-header {
    /* font-size: 2.5rem; */
    color: #007bff; /* color azul */
}

.h2-header {
    /* font-size: 2rem; */
    color: #28a745; /* color verde */
}

.h3-header {
    /* font-size: 1.75rem; */
    color: #17a2b8; /* color cian */
}

/* Estilos para los párrafos */
.text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilos para las listas */
ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

ul .list-item {
    margin-bottom: 5px;
}

ol {
    list-style-type: decimal;
}

/* Estilos para la imagen */
img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}

/* Estilos para los botones */
.btn-group .btn {
    margin-right: 10px;
}

.form{
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.accesoUniversal{
    display: flex;
    align-items: center;
    height: auto;
    overflow: visible;
    position: fixed;
    width: 600px;
    gap: 1rem;
    justify-content: start;
    top: calc(100vh / 3);
    right: -529px;
    background: #343a40;
    padding: 0.5rem 1rem 0.5rem 0.6rem;
    border-radius: 0.5rem 0 0 0.5rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
    #iconUniversal i{
        font-size:2rem ;
    }
    &__option{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
      
            width: 300px;
            // padding: 0.5rem;
        i{
            font-size:1.5rem
        }
    }
    &__option-moreLess{
        display: flex;
        gap: 0.3rem;
        .btn-secondary{
            display: flex;
            i{
                font-size:1.5rem
            }
        }
    }
   button#listenButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    i{
        font-size:1.5rem
    }
   }
//    &:hover{
//     right: -140px;
//    }
}

.accesoUniversalTransition{
    right: -140px;
}

html[data-bs-theme="dark"] * {
    background-color: #212529 !important;
    color: #fff !important;
}

html[data-bs-theme="dark"] button , html[data-bs-theme="dark"] a{
    background-color: #212529 !important;
    color: #fff !important;
    border: 1px solid white!important;
}


